<div class="ion-padding">

  <!-- Contenedor Principal -->
   <div class="bg-white">
		
		<!-- Título -->
		<ion-card-header class="text-center border-0 subtitle mb-5">
			<ion-card-title class="text-white">Administración de Permisos - Roles</ion-card-title>
		</ion-card-header>

		<ion-grid class="ion-margin-top">
		<!-- Lista de Roles -->
		<ion-row>
			<ion-col size-md="6" *ngFor="let rol of allRol">
				<ion-card>
					<!-- Cabecera del Rol -->
					<ion-card-header (click)="toggleDesplegable(rol.ROL_ID)" role="button">
						<ion-card-title>
							{{ rol.ROL_NAME }}
							<sup *ngIf="this.proname == 'Administrator'">({{ rol.COM_NAME }})</sup>
						</ion-card-title>
					</ion-card-header>

					<!-- Detalles del Rol -->
					<ion-card-content id="desplegar{{rol.ROL_ID}}" style="display:none;">
						<!-- Tabla de Permisos -->
						<div scrollX="true">
							<ion-grid>
							<ion-row>
								<ion-col><strong>Permiso</strong></ion-col>
								<ion-col><strong>Lectura</strong></ion-col>
								<ion-col><strong>Escritura</strong></ion-col>
								<ion-col><strong>Administración</strong></ion-col>
							</ion-row>
							<ion-row *ngFor="let permiso of this.permisos">
								<ion-col>
								<ion-checkbox
									[checked]="isPermisoPresente2(rol.permisos, permiso.PER_NAME)"
									[disabled]="!perwrite"
									(ionChange)="borrarPermisos(rol.ROL_ID, permiso.PER_ID, permiso.PER_NAME)"
								></ion-checkbox>
								{{ permiso.PER_NAME }}
								</ion-col>
								<ion-col>
								<ion-checkbox
									[checked]="isPermisoPresente(rol.permisos, permiso.PER_NAME, 'LECTURA')"
									[disabled]="!perwrite"
									(ionChange)="updatevalperm(rol.ROL_ID, permiso.PER_ID)"
								></ion-checkbox>
								</ion-col>
								<ion-col>
								<ion-checkbox
									[checked]="isPermisoPresente(rol.permisos, permiso.PER_NAME, 'ESCRITURA')"
									[disabled]="!perwrite"
									(ionChange)="updatevalperm(rol.ROL_ID, permiso.PER_ID)"
								></ion-checkbox>
								</ion-col>
								<ion-col>
								<ion-checkbox
									[checked]="isPermisoPresente(rol.permisos, permiso.PER_NAME, 'ADMINISTRACION')"
									[disabled]="!perwrite"
									(ionChange)="updatevalperm(rol.ROL_ID, permiso.PER_ID)"
								></ion-checkbox>
								</ion-col>
							</ion-row>
							</ion-grid>
						</div>

						<!-- Botones de Acción -->
						<ion-row class="ion-justify-content-end">
							<ion-button
							*ngIf="perwrite"
							id="desplegarSave{{rol.ROL_ID}}"
							color="success"
							size="small"
							(click)="saveRol(rol.ROL_ID)"
							>
							Guardar
							</ion-button>
							<ion-button
							id="desplegarClose{{rol.ROL_ID}}"
							color="danger"
							size="small"
							(click)="toggleDesplegable(rol.ROL_ID)"
							>
							Cerrar
							</ion-button>
						</ion-row>
					</ion-card-content>
				</ion-card>
			</ion-col>

			<ion-col size-md="6">
				<ion-card>
					<!-- Cabecera del Rol -->
					<ion-card-header role="button">
						<ion-card-title>
							{{ "rol.ROL_NAME" }}
							<sup *ngIf="this.proname == 'Administrator'">({{ "rol.COM_NAME" }})</sup>
						</ion-card-title>
					</ion-card-header>

					<!-- Detalles del Rol -->
					<ion-card-content style="display:none;">
						<!-- Tabla de Permisos -->
						<div scrollX="true">
							<ion-grid>
							<ion-row>
								<ion-col><strong>Permiso</strong></ion-col>
								<ion-col><strong>Lectura</strong></ion-col>
								<ion-col><strong>Escritura</strong></ion-col>
								<ion-col><strong>Administración</strong></ion-col>
							</ion-row>
							<ion-row *ngFor="let permiso of this.permisos">
								<ion-col>
								</ion-col>
							</ion-row>
							</ion-grid>
						</div>

						<!-- Botones de Acción -->
						<ion-row class="ion-justify-content-end">
							<ion-button>
							</ion-button>
						</ion-row>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
		</ion-grid>
		
  </div>
</div>
