button[type="button"] {
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }

  
  ion-item ion-label{
    font-size: large;
    font-weight: bold;
    color: black;
  }
  
  //Campos de Input
  ion-input{
    --padding-start: 12px; /* Padding a la izquierda */
    --padding-end: 12px;   /* Padding a la derecha */
    --padding-top: 8px;    /* Padding arriba */
    --padding-bottom: 8px; /* Padding abajo */
  }