header{
    background-color: #009FD7;
    height: 31px;
 }
 .header img{
    width: 60%;
 }
 .width{
    width: 35%;
 }

 .table-content ion-row{
   border-top: solid 1px rgb(238, 238, 238);
 }

 .ion-table-striped ion-row:nth-child(n+2):nth-child(odd) {
   background-color: #f8f9fa; /* Color de fondo para filas impares */
 }
 

 .custom-button ion-label{
   color: white !important;
 }
 .custom-button ion-icon{
   color: white !important;
 }