<div class="ion-padding">

  <!-- Título y tabla -->
  <ion-card class="bg-white rounded pt-4">
    
  <!-- Botón para agregar rol -->
    <div class="ion-text-center mb-4">
      <ion-button fill="outline" color="success" (click)="addRol()">
        Nuevo
      </ion-button>
    </div>

    <div class="m-4">
      
      <ion-card-header class="ion-text-center">
        <ion-card-title class="subtitle">
          <ion-icon name="settings-outline"></ion-icon>
          Administración de roles
        </ion-card-title>
      </ion-card-header>

      <!-- Tabla de Roles -->
      <ion-card class="bg-white">
        <ion-card-content>
          <div *ngIf="perread">
            <ion-grid>
                <ion-row class="table-header">
                  <ion-col>Fecha</ion-col>
                  <ion-col>Activo</ion-col>
                  <ion-col>Nombre</ion-col>
                  <ion-col>Acceso</ion-col>
                  <ion-col>Acciones</ion-col>
                </ion-row>
                <ion-row *ngFor="let rol of allRol">
                  <ion-col>{{ rol.ROL_CA | date: 'dd-MM-yyyy hh:mma' }}</ion-col>
                  <ion-col>
                    <ion-checkbox [checked]="rol.ROL_ACTIVE == 1" disabled></ion-checkbox>
                  </ion-col>
                  <ion-col>
                    {{ rol.ROL_NAME }}
                    <sup *ngIf="this.proname == 'Administrator'">({{ rol.COM_NAME }})</sup>
                  </ion-col>
                  <ion-col>{{ rol.ROL_ACCESS }}</ion-col>
                  <ion-col>
                    <ion-button
                      *ngIf="perwrite"
                      color="primary"
                      (click)="editperm(rol.ROL_ID, rol.ROL_ACTIVE, rol.ROL_NAME, rol.ROL_ACCESS)"
                    >
                      <ion-icon slot="start" name="pencil-outline"></ion-icon>
                      Editar
                    </ion-button>
                    <ion-button
                      *ngIf="peradm"
                      color="danger"
                      (click)="deleteperm(rol.ROL_ID, rol.ROL_NAME)"
                    >
                      <ion-icon slot="start" name="trash-outline"></ion-icon>
                      Eliminar
                    </ion-button>
                  </ion-col>
                </ion-row>
            </ion-grid>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-card>

  <!-- Modales -->
  <ion-modal [isOpen]="showAddModal">
    <ng-template> 
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Agregar Rol</ion-title>
        </ion-toolbar>
      </ion-header>
      <div>
        <ion-item lines="none">
          <ion-label class="text-black mb-3" position="stacked">Nombre</ion-label>
          <ion-input class="padding-input" id="inpAddNombreR" placeholder="Nombre"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="text-black mb-3" position="stacked">Acceso</ion-label>
          <ion-input class="padding-input" id="inpAddAccesoR" placeholder="Acceso"></ion-input>
        </ion-item>
        <ion-footer class="mt-3 pb-3 d-flex justify-content-end pe-2">
          <ion-button class="me-2" color="secondary" fill="outline" (click)="closeAddModal()">
            Cerrar
          </ion-button>
          <ion-button color="primary" fill="outline" (click)="requestAdd()">
            Guardar
          </ion-button>
        </ion-footer>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="showEditModal">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Editar Rol</ion-title>
      </ion-toolbar>
    </ion-header>
    <div>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input id="inpEdNombreR" [value]="this.oldnamep" placeholder="Nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Acceso</ion-label>
        <ion-input id="inpEdAccesoR" [value]="this.oldaccessp" placeholder="Acceso"></ion-input>
      </ion-item>
      <ion-footer>
        <ion-button expand="full" color="secondary" (click)="closeEditModal()">
          Cerrar
        </ion-button>
        <ion-button expand="full" color="primary" (click)="requestUpdate(fpupd)">
          Actualizar
        </ion-button>
      </ion-footer>
    </div>
  </ion-modal>

  <ion-modal [isOpen]="showDeleteModal">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Eliminar Rol</ion-title>
      </ion-toolbar>
    </ion-header>
    <div>
      <ion-text>
        <p>¿Está seguro de eliminar el rol <strong>{{ this.fpnam }}</strong>?</p>
      </ion-text>
      <ion-footer>
        <ion-button expand="full" color="secondary" (click)="closeDeleteModal()">
          Cerrar
        </ion-button>
        <ion-button expand="full" color="danger" (click)="requestDelete(fpdel)">
          Eliminar
        </ion-button>
      </ion-footer>
    </div>
  </ion-modal>
</div>
