<div class="text-center ion-padding">
 
	<ion-card class="bg-light pt-4 rounded">

		<!-- Botón Nuevo -->
		<app-boton-verde  (click)="addPais()">
			Nuevo
		</app-boton-verde>

		<app-content-modules-admin-dashboard>
			<span content-header>Administración de Usuarios Admin</span>

			<div content-grid>
				<ion-row class="table-header">
					<ion-col>Fecha Creado</ion-col>
					<ion-col>País</ion-col>
					<ion-col>Acciones</ion-col>
				</ion-row>
				<ion-row *ngFor="let per of allPais">
					<ion-col>{{ per.COU_CA | date: 'dd-MM-yyyy hh:mma':'UTC 6' }}</ion-col>
					<ion-col>{{ per.COU_NAME }}</ion-col>
					<ion-col>
					<ion-button color="primary" (click)="editPais(per.COU_ID, per.COU_NAME, per.COU_ABBREVIATION)">
						Editar
					</ion-button>
					<ion-button color="danger" (click)="deletePais(per.COU_ID, per.COU_NAME)">
						Eliminar
					</ion-button>
					</ion-col>
				</ion-row>
			</div>
		</app-content-modules-admin-dashboard>
	</ion-card>

		
	<!-- Modal Agregar País -->
	<ion-modal [isOpen]="showAddPaisModal"  (didDismiss)="closeAddPaisModal()">
		<ng-template>

			<ion-header>
			<ion-toolbar color="primary">
				<ion-title>Agregar País</ion-title>
				<ion-buttons slot="end">
				<ion-button (click)="closeAddPaisModal()">Cerrar</ion-button>
				</ion-buttons>
			</ion-toolbar>
			</ion-header>

			<div>
			<div class="p-2">
				<ion-item lines="none">
					<ion-label position="stacked" class="mb-2">Nombre</ion-label>
					<ion-input class="text-black" placeholder="Nombre" id="inpAddNombreP"></ion-input>
				</ion-item>

				<ion-item lines="none">
					<ion-label position="stacked" class="mb-2">Abreviatura</ion-label>
					<ion-input class="text-black" placeholder="Abreviatura"  id="inpAddAbreP"></ion-input>
				</ion-item>
			</div>

			<ion-footer class="pe-3">
				<ion-toolbar>
				<ion-buttons slot="end">
					<ion-button (click)="requestAdd()" color="primary" fill="outline">Guardar</ion-button>
				</ion-buttons>
				</ion-toolbar>
			</ion-footer>
			</div>
			
		</ng-template>
	</ion-modal>
  
 
   <!-- Modal Editar País -->
	<ion-modal [isOpen]="showEditarPaisModal"  (didDismiss)="closeEditarPaisModal()">
		<ng-template>

			<ion-header>
			<ion-toolbar color="primary">
				<ion-title>Editar País</ion-title>
				<ion-buttons slot="end">
				<ion-button (click)="closeEditarPaisModal()">Cerrar</ion-button>
				</ion-buttons>
			</ion-toolbar>
			</ion-header>

			<div>
			<div class="p-2">
				<ion-item lines="none">
					<ion-label position="stacked" class="mb-2">Nombre</ion-label>
					<ion-input class="text-black" placeholder="Nombre" [(ngModel)]="oldnamep"></ion-input>
				</ion-item>

				<ion-item lines="none">
					<ion-label position="stacked" class="mb-2">Abreviatura</ion-label>
					<ion-input class="text-black" placeholder="Abreviatura" [(ngModel)]="oldabrep"></ion-input>
				</ion-item>
			</div>

			<ion-footer class="pe-3">
				<ion-toolbar>
				<ion-buttons slot="end">
					<ion-button (click)="requestUpdate(fpupd)" color="primary" fill="outline">Actualizar</ion-button>
				</ion-buttons>
				</ion-toolbar>
			</ion-footer>
			</div>
			
		</ng-template>
	</ion-modal>
 
   <!-- Modal Eliminar País -->
	<ion-modal [isOpen]="showDeletePaisModal"  (didDismiss)="closeDeletePaisModal()">
		<ng-template>

			<ion-header>
			<ion-toolbar color="danger">
				<ion-title>Eliminar País</ion-title>
				<ion-buttons slot="end">
				<ion-button (click)="closeDeletePaisModal()">Cerrar</ion-button>
				</ion-buttons>
			</ion-toolbar>
			</ion-header>

			<div>
			<div class="p-2 text-center">
				<ion-text color="danger">
				  ¿Está seguro de eliminar el país <strong>{{ fpnam }}</strong>?
				</ion-text>
			</div>

			<ion-footer class="pe-3">
				<ion-toolbar>
				<ion-buttons slot="end">
					<ion-button fill="outline" color="danger" (click)="requestDelete(fpdel)">Eliminar</ion-button>
				</ion-buttons>
				</ion-toolbar>
			</ion-footer>
			</div>
			
		</ng-template>
	</ion-modal>
 </div>
 