.container {
  position: relative;
  top: 100px;
}
.titulo {
  font-family: "openSans-ExtraBold";
  font-size: 1.7em;
  letter-spacing: 0.1em;
}

.botonback {
  box-shadow: 2px 4px 10px rgba(116, 170, 198, 0.843);
}

.iconXl {
  font-size: 2.5rem;
}

ion-button.botonC {
  --background: #ffffff;
  box-shadow: 2px 5px 15px rgba(5, 41, 108, 0.732);
  width: 130px;
  height: 130px;
  border: solid #666666 1px;
  color: #666666;
}


.no-line ion-col{
  border: none; /* Asegúrate de que las columnas no tengan bordes */
}

@media screen and (max-width: 1360px) {
  .container {
    padding-bottom: 40px;
  }
}